---
layout: default
title: Home
---

<p>Welcome to IcingTomato's Archive. Here are the recent posts.</p>

<div class="recent-posts">
  {% for post in site.posts limit:3 %}
    <div class="mb4">
      {% assign image_src = nil %}
      {% if post.content contains '<img src="' %}
        {% assign image_src = post.content | split: '<img src="' | last | split: '"' | first %}
      {% endif %}

      <h2>{{ post.title }}</h2>
      <hr class="mb3">
      <div class="columns mb3">
        <div class="column col-6 col-sm-12 col-md-12 mb3">
          <p class="mb1">
            <i><span class="moon-gray ml2">{{ post.date | date: "%B %-d, %Y" }}</span></i>
          </p>
          <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
          <p>
            <a class="btn-classic black bg-gold" href="{{ post.url }}">Read more →</a>
          </p>
        </div>
        <div class="column col-6 col-sm-12 col-md-12 mb3">
          {% if image_src %}
            <img class="img-card w100" src="{{ image_src }}" alt="{{ post.title }}"/>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

