  <div class="container">
    <footer class="columns b--moon-gray">
      <div class="column col-12 col-sm-12 col-md-12 mb0">
        <hr class="solid mb1">
      </div>
      <div class="column col-9 col-sm-12 col-md-12">
        <small class="silver text-condensed text-uppercase">© Copyright 2026, U.S. Graphics, LLC. All Rights Reserved. MADE IN U.S.A. Follow us on X <a class="silver" href="https://x.com/usgraphics" target="_blank">@usgraphics</a>.</small>
      </div>
      <div class="column col-3 col-sm-12 col-md-12 align-right">
        <a class="no-decoration" href="/engineering">
          <span title="Deployment environment" class="sku white bg-dark-green">PROD</span>
          <span title="Website version" class="sku black">v2.16.5</span>
        </a>
      </div>
    </footer>
  </div>
