/* Styles to make Markdown tables look like .table .table-light-silver */

.post_content table {
    font-size: 1rem;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: left;
    border-top: 2px dotted #ddd;
    box-shadow: 2px 2px #ddd;
    
    /* Mixin .table-light-silver */
    border-left: 4px solid #aaa;
    margin-bottom: 1.5rem;
}

.post_content table th {
    font-family: 'Univers LT Pro', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto;
    font-weight: 700;
    line-height: 1.2rem;
    padding: .4rem;
    border-right: .1rem solid #bfbfbf;
    border-bottom: .1rem solid #000;
    background-color: #f9f9f9; /* Optional: light bg for headers if not present in original but good for readability */
}

.post_content table td {
    line-height: 1.4rem;
    padding: .4rem;
    border: .1rem solid #bfbfbf;
    vertical-align: top;
}
